*{
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: #ddd;
}

.grid-container {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 10px;
}

.grid-item {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid;
}
